<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Crystal Smile | Авторизація</title>
</head>
<body>
    <!-- Верхнє меню -->
    <header>
        <span class="clinic-name">Crystal Smile</span>
        <div class="navbar-links">
            <a href="home">Головна</a>
            <a href="login">Кабінет</a>
            <a href="services">Послуги</a>
            <a href="about">Про нас</a>
            <a href="contact">Контакти</a>
            <a href="review">Відгуки</a>
        </div>
    </header>

    <main class="form-container">
        <div class="form-block">
            <h2>Вхід</h2>
            <form>
                <label for="login-phone">Номер</label>
                <input type="text" id="login-phone" placeholder="Введіть номер">

                <label for="login-password">Пароль</label>
                <input type="password" id="login-password" placeholder="Введіть пароль">

                <button type="submit">Увійти</button>
            </form>
            <p>Немає аккаунту? <a href="register">Зареєструватися</a></p>
        </div>
    </main>
</body>
</html>
