<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Crystal Smile | Авторизація</title>
</head>
<body>
    <!-- Верхнє меню -->
    <header>
        <span class="clinic-name">Crystal Smile</span>
        <div class="navbar-links">
            <a href="/home">Головна</a>
            <a href="/cabinet">Кабінет</a>
            <a href="/services">Послуги</a>
            <a href="/about">Про нас</a>
            <a href="/contact">Контакти</a>
            <a href="/review">Відгуки</a>
            <a href="/doctors">Лікарі</a>
        </div>
    </header>

    <main class="form-container">
        <div class="form-block">
            <h2>Вхід</h2>

            {% with messages = get_flashed_messages(with_categories=True) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="notification {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}


            <form method="POST" action="/login">
                <label for="login-phone">Номер</label>
                <input type="text" id="login-phone" name="phone" placeholder="Введіть номер" required>

                <label for="login-password">Пароль</label>
                <input type="password" id="login-password" name="password" placeholder="Введіть пароль" required>

                <!-- Блок для чекбокса -->
                <div class="remember">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">Запам'ятати мене</label>
                </div>


                <button type="submit">Увійти</button>
            </form>
            <p>Немає аккаунту? <a href="signup">Зареєструватися</a></p>
        </div>
    </main>

    <footer>
        <div class="footer-container">
            <!-- Ліва частина -->
            <div class="footer-left">
                <p>
                    <span class="footer-icon">📍</span> Київ, вул. Єлизавети Чавдар, 7
                </p>
            </div>

            <!-- Права частина -->
            <div class="footer-right">
                <p>
                    <span class="footer-phone">0 800 441 523</span><br>
                    <span class="footer-note">безкоштовно по Україні</span><br>
                    <a href="mailto:dentart.contact@gmail.com" class="footer-email">dentart.contact@gmail.com</a>
                </p>
            </div>
        </div>

        <!-- Низ -->
        <div class="footer-bottom">
            <p>© 2024 Всі права захищені</p>
        </div>
    </footer>
</body>
</html>
