<!DOCTYPE html>
<html lang="uk">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Playfair+Display:wght@700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Crystal Smile | Головна</title>
</head>
<body>
    <header>
        <span class="clinic-name">Crystal Smile</span>
        <div class="navbar-links">
            <a href="home">Головна</a>
            <a href="login">Кабінет</a>
            <a href="services">Послуги</a>
            <a href="about">Про нас</a>
            <a href="contact">Контакти</a>
            <a href="review">Відгуки</a>
        </div>
    </header>

    <!-- Цитата -->
    <blockquote class="blockquote">
        <p>Ми впроваджуємо передові технології, щоб ваш візит до лікаря був максимально комфортним та ефективним. 
        Лазерні технології гарантують відсутність травматичності, а сучасне обладнання дозволяє звести ризики до мінімуму. 
        Завдяки персоналізованому підходу ми створюємо індивідуальні плани лікування, які враховують усі ваші побажання.</p>
        <div class="blockquote-author">– Вова</div>
    </blockquote>

    <!-- Переваги -->
    <div class="features">
        <h2>Переваги нашої клініки</h2>
        <ul>
            <li><strong>Висока якість:</strong> Ми забезпечуємо винятковий сервіс, і 85% наших клієнтів приходять за рекомендацією друзів чи родичів.</li>
            <li><strong>Фахівці зі стажем:</strong> Наша команда складається з досвідчених імплантологів, середній стаж яких становить 15 років.</li>
            <li><strong>Новітні технології:</strong> Лазерні методи, цифрова діагностика та 3D моделювання забезпечують швидке та точне лікування.</li>
            <li><strong>Персоналізований підхід:</strong> Ми враховуємо індивідуальні потреби кожного клієнта, створюючи комфортну атмосферу.</li>
            <li><strong>Гнучка оплата:</strong> Пропонуємо доступні програми розтермінування для зручності клієнтів.</li>
            <li><strong>Розташування:</strong> Наша клініка знаходиться в центрі Вінниці, що робить відвідування зручним для всіх.</li>
        </ul>
    </div>

    <!-- Наша команда -->
    <div class="team">
        <h2>Наша команда</h2>
        <div class="team-grid">
            <div class="team-member">
                <h3>Володимир Болюх</h3>
                <p>Frontend coder</p>
            </div>
            <div class="team-member">
                <h3>Владислав Гаврилюк</h3>
                <p>Backend coder</p>
            </div>
            <div class="team-member">
                <h3>Діма Стрікс</h3>
                <p>Frontend coder</p>
            </div>
        </div>
    </div>
</body>
</html>
