<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Crystal Smile</title>
</head>
<body>

<div class="form-container">
    <div class="form-block">
        <h2>Вхід</h2>
        <form>
            <label for="login-phone">Номер</label>
            <input type="text" id="login-phone" placeholder="Введіть номер">
            
            <label for="login-password">Пароль</label>
            <input type="password" id="login-password" placeholder="Введіть пароль">
            
            <button type="submit">Увійти</button>
        </form>
        <p>Немає аккаунту? <a href="register.html">Зареєструватися</a></p>
    </div>
</div>

</body>
</html>
