<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Crystal Smile</title>
</head>
<body>

<div class="form-container">
    <div class="form-block">
        <h2>Реєстрація</h2>
        <form>
            <label for="reg-phone">Номер</label>
            <input type="text" id="reg-phone" placeholder="Введіть номер">
            
            <label for="reg-password">Пароль</label>
            <input type="password" id="reg-password" placeholder="Введіть пароль">
            
            <label for="reg-confirm-password">Повторіть пароль</label>
            <input type="password" id="reg-confirm-password" placeholder="Повторіть пароль">
            
            <button type="submit">Зареєструватися</button>
        </form>
        <p>Вже є аккаунт? <a href="login.html">Увійти</a></p>
    </div>
</div>

</body>
</html>
