<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Crystal Smile</title>
</head>
<body>
    <!-- Верхнє меню -->
    <header>
        <span class="clinic-name">Crystal Smile</span>
        <div class="navbar-links">
            <a href="index.html">Головна</a>
            <a href="html">Кабінет</a>
            <a href="services.html">Послуги</a>
            <a href="about.html">Про нас</a>
            <a href="contact.html">Контакти</a>
            <a href="review.html">Відгуки</a>
        </div>
    </header>

    <!-- Секція відгуків -->
    <div class="reviews-section">
        <h2>Наші відгуки</h2>
        <div class="review">
            <div class="review-name">Майа Борисівна:</div>
            <div class="review-text">
                Дуже хороша стоматологія, встигла попломбувати зуби за 30 хвилин поки була тривога, все зробили дуже швидко і якісно. Лікарі ввічливі, добродушні і розуміючі. Всім рекомендую!
            </div>
        </div>
        <div class="review">
            <div class="review-name">Малініч Ілля:</div>
            <div class="review-text">
                Ввв-ссс-е зробили ддуже швидко, недорррого і яккісно, всім рррекомендую!!!
            </div>
        </div>
        <div class="review">
            <div class="review-name">Сілагін Олексій:</div>
            <div class="review-text">
                Чудова клініка, недавно в сина заболів зуб і ми рішили що треба його лічити, повезли в вашу стоматологію і були приємно вражені вашим професіоналізмом і професійністю, сину також сподобалось, поставили пломбу.
            </div>
        </div>
        <div class="review">
            <div class="review-name">Пономаренко Аллла:</div>
            <div class="review-text">
                Хороша клініка, поки пломбували зуб, включили історію України за 19 ст, так що весь процес пломбування пролетів дуже швидко і цікаво, рекомендую.
            </div>
        </div>
    </div>

</body>
</html>
